body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eas-screen-container {
    height: 500px;
    background-color: #7bb0c1;
    border: 15px solid #7bb0c1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.eas-grid {
    background-color: white;
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    border: 5px solid black;
}

.grid-square {
    border: 0.1px solid black;
    aspect-ratio: 1;
}